{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{post.img_url}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{post.title}}</h1>
            <h2 class="subheading">{{post.subtitle}}</h2>
            <span class="meta">Posted by
              <a href="#">{{ post.author.name }}</a>
              on {{post.date}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {{ post.body|safe }}
          <hr>
{{ post.author_id }}
             {% if post.author_id == 1:%}
            <div class="clearfix">
            <a class="btn btn-primary float-right" href="{{url_for('edit_post', post_id=post.id)}}">Edit Post</a>
            </div>
<form method="post" class="mt-5 mb-5">
            {{ ckeditor.load() }}
        {{ ckeditor.config(name='text') }}
    {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
</form>
{% endif %}
</div>
<!--           Comments Area -->
          <div class="col-lg-8 col-md-10 mx-auto comment text-center">

              <ul class="commentList">
                  <p>Comments:</p>
                  {%for comment in comments:%}
                <li>
                    <div class="commenterImage">
                      <img src="https://scontent.ftxl2-1.fna.fbcdn.net/v/t1.6435-9/203818056_4187179521327539_6954027598055450017_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=UGpJbc_mhr8AX_ZYpMv&_nc_ht=scontent.ftxl2-1.fna&oh=24b3bcc7a304a5cd96815a39aae6a4a7&oe=61CEB8D3"/>
                    </div>
                    <div class="commentText" [innerHTML]="">
                      {{ comment.text | safe}}
                      {% if comment.author != None: %}
                      <span class="date sub-text">{{ comment.author }}</span>
                        {% endif %}
                    </div>
                </li>
                  {%endfor%}
              </ul>
            </div>


          </div>
      </div>
    </div>
  </article>

  <hr>
{% include "footer.html" %}